
.settings
.vscode
.idea

*/logs
**/.classpath
**/bin
**/build

node_modules
yarn-error.log
.history/

# Code coverage
.nyc_output
/coverage

api/**/*.js
api/**/*.js.map
api/swagger.json
api/swagger.yaml
dist
.env